.padding-con
  padding 20px
  clearfix()

.url-box
  font-weight bold
  color #333
  border 1px dotted #777
  border-radius 3px
  padding 10px
  margin-bottom 10px
  width 100%
  box-sizing border-box
  display inline-block
  background rgba(#f5cb08,.2)

.page
  .static &
    border-radius 3px
  /* Faq */
  .faq
      list-style none
      margin 0
      padding 20px
      h2
        font-size 18px
        margin-bottom 10px
      li
        margin 0 0 1em 0
    .question
      font-weight bold
      margin 0 0 5px 0
      color #555

  /* Affiliate */
  &.affiliate
    h2
      margin-bottom 10px
      font-size 16px

  .your-link
    margin-bottom 10px
  .your-stats, .payout-table
    float left
    margin-right 20px

  .affiliate-table
    margin-bottom 10px
    border 2px solid #777
    border-spacing 0
    border-collapse collapse
    tr
      border-bottom 1px solid #eee
    td
      padding 10px
    .result
      border-left 1px solid #eee
      font-weight 600
    .earnings
      color green
    .even
      background #f9f9f9
  
  .refered-players-table
    margin-bottom 10px
    border 2px solid #777
    border-spacing 0
    border-collapse collapse
    tr
      border-bottom 1px solid #eee
    th
      padding 10px
    td
      padding 10px
      text-align right
    .earnings
      color green
    .even
      background #f9f9f9
    .totals
      text-align right

  /* Provably Fair */
  #provably-fair-wrapper
    width 40%
    box-shadow 0 1px 1px rgba(#000,0.1)
    border-radius 5px
    float left
  #provably-fair-data
    display block
    background #f3f2f1
    border-radius 5px 5px 0 0
    border 1px solid #ccc
    border-bottom 0
    color #222
    padding 20px
    h2, label
      color inherit
    h2
      margin-bottom 8px
      font-size 20px
    .seed
      margin-bottom 2px
      label
        width 30%
        display inline-block
      input
        width 70%
        border 1px solid #ccc
    .clean-shuffle
      padding 10px
      display block
      border 1px solid #ccc
      border-radius 3px
      height 40px
      box-sizing border-box
      width 70%
      overflow-y scroll
      margin 10px 0
      margin-left 30%
    #verify-bt
      margin 5px 0 0 30%
      display block
  #verification-result
    border-radius 0 0 5px 5px
    list-style none
    margin 0
    padding 10px
    border 1px solid #ccc
    .failed
      text-decoration line-through
    .verified
      color #25950f
    .not_verified
      color #ce1010
  .side
    float left
    padding 0 0 0 20px
    box-sizing border-box
    width 60%
