.bw.symbol.placeholder
.l7.symbol.placeholder
.b1.symbol.placeholder
.zo.symbol(data-symbol="zo")
.b2.symbol(data-symbol="b2")
.bt.symbol(data-symbol="bt")
.b3.symbol(data-symbol="b3")
.bw.symbol(data-symbol="bw")
.l7.symbol(data-symbol="l7")
.b1.symbol(data-symbol="b1")
.bw.symbol.placeholder
.l7.symbol.placeholder
.b1.symbol.placeholder